astroid==2.2.5
audioread==2.1.6
bhtsne==0.1.9
certifi==2019.3.9
cycler==0.10.0
Cython==0.29.7
decorator==4.4.0
isort==4.3.16
joblib==0.13.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
librosa==0.6.3
llvmlite==0.25.0
matplotlib==3.0.3
mccabe==0.6.1
numba==0.40.1
numpy==1.16.2
pandas==0.24.2
patsy==0.5.1
pylint==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
resampy==0.2.1
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
statsmodels==0.9.0
tornado==6.0.1
wrapt==1.11.1
